.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto; 
  vertical-align: top;
}

.content {
  margin: 0;
  margin-left: 200px;
}

table.primary {
  border-collapse: collapse;
  width: 100%;
}
table.primary th,td {
  border: 1px solid;
}