
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto; 
  vertical-align: top;
}

.titleBar {
  padding: 6px 0px 6px 4px;
  flex: 0 1 auto;
}

.modeChange {
  margin: 4px;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
}

.notSideBar {
  margin: 0;
  margin-left: 200px;
  display: flex;
  height: 100%;
  flex-flow: column;
}

.content {
  padding: 8px;
  flex: 1 1 auto;
}

div.tabBar {
  display: flex;
}

div.tabBar div.tab {
  margin: 4px;
}

div.tabBar div.active {
  border-bottom: 1px solid;
  border-bottom-color: black;
}

div.label {
  width: 200px
}

div.details {
  display: block;
}

div.item {
  display: flex;
  margin-bottom: 4px;
}

td,th {
  padding-left: 1ex;
  padding-right: 1ex;
}

a.navlink :hover {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}

.logRow {
  white-space: nowrap;
}